name: Deploy to Juno

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Prepare Demo
        uses: ./.github/actions/prepare
        with:
          folder: 'demo'
      - name: Build
        run: npm run build
        working-directory: 'demo'

      - name: Deploy Relying Party
        uses: junobuild/juno-action@3735a47e3c9c24cb89d5a3ca091ed9949ce94fac # v0.6.4
        with:
          args: hosting deploy
        env:
          PROJECT_PATH: demo/src/relying_party_frontend

      - name: Deploy Signer
        uses: junobuild/juno-action@3735a47e3c9c24cb89d5a3ca091ed9949ce94fac # v0.6.4
        with:
          args: hosting deploy
        env:
          PROJECT_PATH: demo/src/wallet_frontend
