name: Demo Checks

on:
  pull_request:
    paths:
      - 'demo/**'

jobs:
  lint:
    runs-on: ubuntu-latest

    env:
      NODE_OPTIONS: --max-old-space-size=8192

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Prepare Demo
        uses: ./.github/actions/prepare
        with:
          folder: 'demo'
      - name: Lint
        run: npm run lint -- --max-warnings 0
        working-directory: 'demo'

  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Prepare Demo
        uses: ./.github/actions/prepare
        with:
          folder: 'demo'
      - name: Check
        run: npm run check
        working-directory: 'demo'

  demo-checks-pass:
    needs: ['check', 'lint']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
