name: E2E Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare Lib
        uses: ./.github/actions/prepare
      - name: Prepare Demo
        uses: ./.github/actions/prepare
        with:
          folder: 'demo'
      - name: Setup E2E Environment
        uses: ./.github/actions/setup-e2e-env
      - name: Run tests
        run: |
          cd demo
          juno emulator start --headless &
          cd ..
          npm run e2e:ci
      - name: Upload Playwright report on failure
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 3
      - name: Upload Playwright results on failure
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: test-results
          path: test-results/
          retention-days: 3

  e2e-tests-pass:
    needs: ['e2e']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
