name: Lib Tests

on:
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Tests
        run: npm run test

  lib-tests-pass:
    needs: ['tests']
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Cleared for merging
        run: echo OK
