name: Lib Checks

on:
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Format
        run: npm run format:check

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Lint
        run: npm run lint -- --max-warnings 0

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Build
        run: npm run build

  lib-checks-pass:
    needs: ['build', 'lint', 'format']
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Cleared for merging
        run: echo OK
