name: Lib Publish

on:
  workflow_dispatch:
  release:
    types: [released]

run-name: >-
  ${{
    github.event_name == 'release' && 'Lib Publish'
    || github.event_name == 'workflow_dispatch' && 'Lib Next'
    || 'Lib Publish' }}

jobs:
  publish-release:
    if: github.event_name == 'release'

    runs-on: ubuntu-latest

    environment: release

    permissions:
      contents: read
      id-token: write

    env:
      dist-directory: dist

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build
        run: npm run build

      - run: npm publish --provenance --access public
        working-directory: ${{env.dist-directory}}

  publish-next:
    if: github.event_name == 'workflow_dispatch'

    runs-on: ubuntu-latest

    environment: release

    permissions:
      contents: read
      id-token: write

    env:
      dist-directory: dist

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Build next version
        run: ./scripts/build-next

      - run: npm publish --provenance --access public --tag next
        working-directory: ${{env.dist-directory}}
